.DS_Store
__pycache__/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
error.log
errlog
deploy.sh

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

#static
#back/static/*

#db-data
/db/db-datadir/*