html, body, div, h1, h2, input, button {
    padding: 0;
    margin: 0;
}

body {
    background: rgba(105, 180, 205, 0.18);
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

h2 {
    padding: 10px;
    font-size: 20px;
    font-weight: 800;
}

input {
    padding: 5px;
    height: 50px;
    width: 200px;
    border: none;
    background: #f2f2f2;
}

button {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #000;
    color: white;
    height: 50px;
}

form, send-msg {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 50px;
}

a {
    color: blue;
}

.header {
    height: 50px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.back {
    position: absolute;
    left: 20px;
    color: white;
}

.send {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100px;
    background: #000;
    color: white;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.chat-box {
    margin: 5px;
}

.chat-room-body {
    height: calc(100vh - 100px);
    width: 100%;
    overflow-y: scroll;
}

.chat-room-footer {
    height: 50px;
}

.chat-header {
    border-bottom: solid 2px #aaa;
    padding: 15px;
    padding-bottom: 5px;
}

.chat-body {
    padding: 15px;
    padding-left: 25px;
}